<template>
  <div class="left_menu">
    <div class="left_menu2">
      <div class="logo">
        <img src="//pic.cpsdb.com/72747ee92c3fdf007ae76c8e259f46cf?w=120&f=png">
        <h3>
          中国商品诚信数据库
          <br>
          <span>管理后台</span>
        </h3>
      </div>
      <div class="left-nav">
        <nav>
          <ul>
            <li v-for="(v, i) of menu">
                <router-link v-if="v.link" :to="v.link">
                  <img v-if="v.icon" class="xzyc" :src="v.icon" />
                  {{v.title}}
                </router-link>
                <a href="javascript:void 0" v-if="!v.link" class="link" @click="foldMenu(v.styleObject, 'menu' + i, 'sidebar')">
                  <span class="glyphicon glyphicon-play" :style="v.styleObject"></span>
                  {{v.title}}
                </a>
              <!-- <span v-if="v.tip">{{v.tip}}</span> -->
              <div class="sidebar" :id="'sidebar' + i">
                <ul :id="'menu' + i" >
                  <li v-for="(v2, m) of v.menu">
                    <router-link v-if="v2.link" :to="v2.link">
                      <img v-if="v2.icon" :src="v2.icon" />
                      {{v2.title}}
                    </router-link>
                    <a v-if="!v2.link" href="javascript:void 0" @click="foldMenu(v2.styleObject, 'menu2' + m, 'subSidebar', 'menu' + i)">
                      <span class="glyphicon glyphicon-play" :style="v2.styleObject"></span>
                      {{v2.title}}
                    </a>
                    <!-- <span v-if="v2.tip">{{v2.tip}}</span> -->
                    <div class="subSidebar">
                      <ul :id="'menu2' + m">
                        <li v-for="v3 of v2.menu">
                          <router-link v-if="v3.link" :to="v3.link">
                          <img v-if="v3.icon" class="xzyc" :src="v3.icon" />
                            {{v3.title}}
                          </router-link>
                          <a v-if="!v3.link" href="javascript:void 0">{{v3.title}}</a>
                          <!-- <span v-if="v3.tip">{{v3.tip}}</span> -->
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'leftMemu',
  props: {
    value: {
      type: String,
    },
  },
  data() {
    return {
      menu: [
        {
          title: '首　　页',
          link: '/index',
          icon: '',
          menu: [],
        },
        {
          title: '企业管理',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '企业状态',
              icon: '',
              styleObject: {
                transition: 'all 0.4s linear',
                transform: 'rotate(0deg)',
              },
              menu: [
                {
                  title: '待初审',
                  link: '/enterprise/pending',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '待认证采集',
                  link: '/enterprise/collectting',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '待复审',
                  link: '/enterprise/pending2',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '已入库',
                  link: '/enterprise/passed',
                  tip: 1,
                  icon: '',
                },
              ],
            },
            {
              title: '商品中心',
              icon: '',
              styleObject: {
                transition: 'all 0.4s linear',
                transform: 'rotate(0deg)',
              },
              menu: [
                {
                  title: '分类管理',
                  link: '/goods/category',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '条码管理',
                  link: '/goods/barcode',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '销售属性',
                  link: '/goods/attribute',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '商品列表',
                  link: '/goods/list',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '模块管理',
                  link: '/template/module',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '模板管理',
                  link: '/template/list',
                  tip: 1,
                  icon: '',
                },
              ],
            },
            {
              title: '工厂中心',
              icon: '',
              styleObject: {
                transition: 'all 0.4s linear',
                transform: 'rotate(0deg)',
              },
              menu: [
                {
                  title: '工厂列表',
                  link: '/factory/list',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '待审核',
                  link: '/factory/pending',
                  tip: 1,
                  icon: '',
                },
              ],
            },
            {
              title: '操作员工',
              icon: '',
              styleObject: {
                transition: 'all 0.4s linear',
                transform: 'rotate(0deg)',
              },
              menu: [
                {
                  title: '员工列表',
                  link: '/employee/list',
                  tip: 1,
                  icon: '',
                },
              ],
            },
            {
              title: '经销商',
              icon: '',
              styleObject: {
                transition: 'all 0.4s linear',
                transform: 'rotate(0deg)',
              },
              menu: [
                {
                  title: '经销商列表',
                  link: '/franchiser/list',
                  tip: 1,
                  icon: '',
                },
              ],
            },
          ],
        },
        {
          title: '二维码管理',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '二维码列表',
              link: '/code/list',
              tip: 1,
              icon: '',
            },
          ],
        },
        {
          title: '认证官管理',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '添加认证官',
              link: '/authofficer/entry',
              tip: 1,
              icon: '',
            },
            {
              title: '认证官列表',
              link: '/authofficer/list',
              tip: 1,
              icon: '',
            },
          ],
        },
        {
          title: '申报管理',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '申报机构',
              link: '/declarer/agency',
              tip: 1,
              icon: '',
            },
            {
              title: '申报官',
              link: '/declarer/officer',
              tip: 1,
              icon: '',
            },
            {
              title: '申报企业',
              link: '/declarer/enterprise',
              tip: 1,
              icon: '',
            },
            {
              title: '考试系统',
              link: '/declarer/exam',
              tip: 1,
              icon: '',
            },
          ],
        },
        {
          title: '系统消息',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '公告通知',
              menu: [
                {
                  title: '创建公告',
                  link: '/message/create',
                  tip: 1,
                  icon: '',
                },
                {
                  title: '公告列表',
                  link: '/message/list',
                  tip: 1,
                  icon: '',
                },
              ],
            },
            {
              title: '投诉列表',
              link: '/complaint/list',
              tip: 1,
              icon: '',
            },
          ],
        },
        {
          title: '系统管理',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '用户列表',
              link: '/system/user',
              tip: 1,
              icon: '',
            },
            {
              title: '角色列表',
              link: '/system/role',
              tip: 1,
              icon: '',
            },
            {
              title: '支付设置',
              link: '/system/paymethod',
              tip: 1,
              icon: '',
            },
            {
              title: 'APP版本管理',
              link: '/system/version',
              tip: 1,
              icon: '',
            },
          ],
        },
        {
          title: '补贴审核',
          link: '/subsidy/pending',
          tip: 1,
          icon: '',
          menu: [],
        },
        {
          title: '我的补贴',
          icon: '',
          styleObject: {
            transition: 'all 0.4s linear',
            transform: 'rotate(0deg)',
          },
          menu: [
            {
              title: '申请补贴',
              link: '/subsidy/apply',
              tip: 1,
              icon: '',
            },
            {
              title: '补贴明细',
              link: '/subsidy/detail/list',
              tip: 1,
              icon: '',
            },
            {
              title: '申请记录',
              link: '/subsidy/record',
              tip: 1,
              icon: '',
            },
          ],
        },
      ],
    };
  },
  computed: {
  },
  methods: {
    foldMenu(styleObject, node, menu, parentNode) {
      if (typeof window.getComputedStyle === 'undefined') return;
      // 获取点击菜单
      const e = document.getElementById(node);
      // 复原点击外菜单
      this.menuRecover(e, menu);
      e.open = status || e.open;
      // 打开或关闭子菜单
      this.heightTransition(e, styleObject, undefined);
      // 父菜单再次计算高度
      if (parentNode) {
        setTimeout(() => this.heightTransition(document.getElementById(parentNode), undefined, 'open'), 405);
      }
    },
    heightTransition(e, styleObject, status) {
      const height = window.getComputedStyle(e).height;
      if (status === 'open') {
        e.parentNode.open = false;
      }
      if (!e.parentNode.open) {
        e.parentNode.style.height = height;
        if (styleObject) styleObject.transform = 'rotate(90deg)';
      } else {
        e.parentNode.style.height = '0px';
        if (styleObject) styleObject.transform = 'rotate(0deg)';
      }
      e.parentNode.open = !e.parentNode.open;
    },
    menuRecover(e, menu) {
      const s = this.siblings(e.parentNode, menu);
      [...s].forEach((doc) => {
        doc.style.height = '0px';
        doc.open = false;
      });
    },
    // 获取兄弟节点
    siblings(elem, menu) {
      const a = [];
      const b = document.getElementsByClassName(menu);
      for (let i = 0; i < b.length; i += 1) {
        if (b[i] !== elem) a.push(b[i]);
      }
      return a;
    },
    getElementHeight
  },
  watch: {
  },
  components: {
  },
  beforeCreate() {
  },
  cteated() {
  },
  beforeMount() {
  },
  mounted() {
  },
  beforeUpdate() {
  },
  updated() {
  },
  beforeDestroy() {
  },
  destroyed() {
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/css/mixin.scss';

.left_menu {
    width: 240px;
    min-width: 240px;
    height: 100%;
    position: fixed;
    left: 0;
    background: #fff;
    background-size: 100% 100%;
    text-align: center;
    z-index: 101;
    overflow: hidden;
}
.left_menu2 {
  width: 257px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100%;
}
.logo {
    width: 240px;
    min-width: 240px;
    height: 250px;
    padding-top: 40px;
    text-align: center;
    display: list-item;
    background: #4063FF;
    position: fixed;
    z-index: 102;
}
.logo h3 {
    color: #fff;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.left-nav{
    padding: 20px 0 60px 0;
    margin-top: 250px;
}

/*ul > li {
  padding: 10px;
}
*/

a {
    display: block;
    padding: 15px;
    color: #4e4e4e;
    font-size: 16px;
    border-left: 3px solid #fff;
    font-weight: bold;
}

a:focus {
    color: #015FE5;
    border-left: 3px solid #015FE5;
}

.sidebar > ul > li:hover {
    background: #e2e2e2;
}

.subSidebar > ul > li > a {
    font-size: 16px;
}

.sidebar {
  height: 0px;overflow: hidden;transition: all 0.4s ease;
  background: #fbfbfb;
}

.subSidebar {
  height: 0px;overflow: hidden;transition: all 0.4s ease;
  background: #090c0c0a;
}


/*webkit内核*/
.scroll_content::-webkit-scrollbar {
    width:0px;
    height:0px;
}
.scroll_content::-webkit-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-webkit-scrollbar {
    width:10px;
    height:10px;
}
/*o内核*/
.scroll_content .-o-scrollbar{
    -moz-appearance: none !important;   
    background: rgba(0,255,0,0) !important;  
}
.scroll_content::-o-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-o-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-o-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-o-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.scroll_content::-o-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.scroll_content::-o-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
/*IE10,IE11,IE12*/
.scroll_content{
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow: auto;
}


</style>